<!DOCTYPE html>
<html>
<head>

  <title>CSP-VSL</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', 'sb-admin-2', 'bootstrap-table.min','font-awesome.min``','metisMenu.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'sb-admin-2','bootstrap-table.min','bootstrap-table-en-US.min','metisMenu.min','data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
<div id="wrapper">
  <%= render 'common/header' %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
